<main class="tp-page__main tp-content">
  <div class="tp-test is--center">
    <div class="tp-test__name" [innerHtml]="title"></div>
    <div class="tp-test__counter">{{currentStep+1}}/{{questions.length}}</div>
    <div class="tp-test__question tp-test__question-image tp-test__question-item">
      <img *ngIf="currentQuestion.image" [src]="currentQuestion.image" alt="currentQuestion.content">
    </div>
    <div class="tp-test__question-and-answers tp-test__question-item">
      <div class="tp-test__counter tp-test__counter-second">{{currentStep+1}}/{{questions.length}}</div>
      <p [innerHtml]="currentQuestion.content"></p>
      <div class="tp-test__answers is--checked">
        <label *ngFor="let answer of currentQuestion.answers; let i = index" (click)="addAnswer(answer, i)" [ngClass]="{'tp-answer': true, 'is--success': showResult && isRight && (i == numberAnswer), 'is--error': showResult && !isRight && (i == numberAnswer)}">
          <input class="tp-answer__checker" type="radio">
          <div class="tp-answer__name" [innerHtml]="answer.content"></div>
        </label>
      </div>
      <div *ngIf="showResult && result" [innerHTML]="result" [ngClass]="{'tp-test__info': true, 'tp-test__info--success': isRight, 'tp-test__info--error': !isRight}" class="tp-test__info"></div>
      <button class="tp-button" [disabled]="this.numberAnswer < 0" (click)="nextQuestion()">Далее</button></div>
    </div>
</main>
