<main class="tp-page__main tp-content">
  <div class="tp-content__inner">
    <h1 class="tp-content__title is--center" [innerHtml]="title"></h1>
    <div class="tp-content__description is--center">
      <p [innerHtml]="description"></p>
      <button (click)="start()" class="tp-button">
        Начать тест
      </button>
    </div>
    <div class="tp-social">
      <fb-like [url]="getHostName()"></fb-like>

      <vk-share [url]="getHostName()" class="tp-social__link"></vk-share>

      <a (click)="share('tw')" class="tp-social__link">
        <img src="/justice/assets/img/tw.png" alt="share in tw" width="17" />
      </a>
    </div>
  </div>
  <div
    class="tp-content__banner ad-fox-banner-adaptive banner_sidebar banner-300x500-center banner-300x500-center-sidebar"
    data-params='{"pp":"g","ps":"cigk","p2":"fkbj"}'
    data-states='["desktop"]'
    id="adfox_banner_sidebar"
  ></div>
</main>
