<div [ngClass]="{'test-body_intro': showIntro, 'test-body_question': showQuestion, 'test-body_result': showResult}">
  <header class="tp-page__header tp-header">
    <a href="https://theoryandpractice.ru/" class="tp-logo">
      <img src="assets/img/logo.png" alt="t&amp;p logo" width="73"/>
    </a>
    <!-- <a href="http://dutchsciencetalks.com/ru/study-in-holland" class="tp-sticker">
      <img src="assets/img/sticker.png" alt="sticker logo" width="119"/>
    </a> -->
  </header>

  <test-intro *ngIf="showIntro" (startTest)="showQuestions($event)" [title]="title" [description]="description" [routesBase]="routesBase"></test-intro>
  <test-question *ngIf="showQuestion" (finalResults)="processResult($event)" [title]="title" [questions]="questions"></test-question>
  <test-result *ngIf="showResult" (restartTest)="restartTest($event)" [title]="title" [results]="results" [result]="result" [completion]="completion" [sharedCompletion]="sharedCompletion" [slug]="slug" [routesBase]="routesBase"></test-result>
</div>
